.SignIn-form-Logo-Img{
    width:298px;
    height: 89px;
    margin: 0 auto;
    margin-bottom: 30px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


