*{
    margin: 0;
    padding: 0;
}
.SignIn{
    display: flex;
    margin-top: 10vh;
    .SignIn-form{
    width: 40%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    width: 60%;
    height: 100vh;
}

label{
    display: block;
    width: 152px;
    height: 21px;
    left: 84px;
    top: 340px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
input{
    width: 423px;
    height: 53px;
    margin: 0 auto;
    display: block;
    border: 1px solid #000;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 30px;

}
.SignIn-btn{
    width: 423px;
    height: 53px;
    margin: 0 auto;
    top: 590px;
    display: block;
    background: #ed0000;
    border: 1px solid #000;
    border-radius: 3px;

}
form .forgot-password, form .account{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
    
}
form .forgot-password{
    margin-left: 35%;
}
form .account{
    margin-left: 30%;
}
hr{
    width: 355px;
    height: 0;
    margin: 0 auto;
    border: 1px solid #fff;
}
.submit-btn{
    width: 423px;
    height: 53px;
    margin: 0 auto;
    display: block;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

@media screen and (max-width:1000px){
    .SignIn-form{
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro{
        display: none;
    }
}
@media screen and (max-width:500px){
    .SignIn-form{
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input, button.submit-btn, .SignIn-btn{
        width: 255px;
        height: 33px;
    }
    hr{
        width: 255px;
    }
     form .account{
      margin-left: 15%;
        
    }
    form .forgot-password{
        margin-left: 22%;
    }
    
}
}

