.footer-container {
    border-top: 5px solid rgb(97, 97, 97);
    background-color: #000;
    color: #757575;
    padding:1.5rem;
    .footer-text {
        width: 80%;
        margin: auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        .footer-links {
            width: 100%;
            .footer-box {
                ul {
                    list-style: none;
                    li {
                        &:hover{
                        color: white;
                    }
                        line-height: 3;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}